In [1]:
!pip install --upgrade duckdb pandas

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.10.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
# We should have the same version of duckdb to load the database without any problem:
!pip show duckdb

Name: duckdb
Version: 0.10.1
Summary: DuckDB in-process database
Home-page: https://www.duckdb.org
Author:
Author-email:
License: MIT
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by: malloy

In [ ]:
import duckdb
import pandas as pd

# Reemplaza '/ruta/a/mi_base_de_datos.duckdb' con la ruta correcta al archivo de tu base de datos
path_to_db = 'database.duckdb'

# Conectarse a la base de datos DuckDB
con = duckdb.connect(database=path_to_db)

In [5]:
# Realizar una consulta y cargar los resultados en un DataFrame de Pandas
query = "SELECT * FROM airbnb"  # Aseg√∫rate de cambiar 'mi_tabla' por el nombre real de tu tabla
df = con.execute(query).df()

print(df)

           realSum        room_type  room_shared  room_private  \
0       194.033698     Private room        False          True
1       344.245776     Private room        False          True
2       264.101422     Private room        False          True
3       433.529398     Private room        False          True
4       485.552926     Private room        False          True
...            ...              ...          ...           ...
51702  1035.066676     Private room        False          True
51703   181.095510     Private room        False          True
51704   420.517886  Entire home/apt        False         False
51705   217.314612     Private room        False          True
51706   489.193067  Entire home/apt        False         False

       person_capacity  host_is_superhost  multi  biz  cleanliness_rating  \
0                  2.0              False      1    0                10.0
1                  4.0              False      0    0                 8.0
2                  2.0              False      0    1                 9.0
3                  4.0              False      0    1                 9.0
4                  2.0               True      0    0                10.0
...                ...                ...    ...  ...                 ...
51702              2.0              False      0    1                10.0
51703              2.0              False      1    0                10.0
51704              2.0              False      0    0                10.0
51705              2.0              False      0    0                10.0
51706              2.0              False      0    0                 9.0

       guest_satisfaction_overall  ...      dist  metro_dist  attr_index  \
0                            93.0  ...  5.022964    2.539380   78.690379
1                            85.0  ...  0.488389    0.239404  631.176378
2                            87.0  ...  5.748312    3.651621   75.275877
3                            90.0  ...  0.384862    0.439876  493.272534
4                            98.0  ...  0.544738    0.318693  552.830324
...                           ...  ...       ...         ...         ...
51702                       100.0  ...  5.155373    0.883829  271.191201
51703                       100.0  ...  5.072177    0.344055  268.165870
51704                        98.0  ...  6.709982    0.926188  181.892001
51705                        94.0  ...  6.736940    0.353634  184.278328
51706                        92.0  ...  4.174953    0.610443  434.954210

       attr_index_norm  rest_index  rest_index_norm      lng       lat  \
0             4.166708   98.253896         6.846473  4.90569  52.41772
1            33.421209  837.280757        58.342928  4.90005  52.37432
2             3.985908   95.386955         6.646700  4.97512  52.36103
3            26.119108  875.033098        60.973565  4.89417  52.37663
4            29.272733  815.305740        56.811677  4.90051  52.37508
...                ...         ...              ...      ...       ...
51702        18.851558  528.042180         9.451035 -0.05357  51.51255
51703        18.641255  554.906232         9.931855 -0.05620  51.51823
51704        12.644022  395.397885         7.076933 -0.22172  51.52180
51705        12.809905  471.029678         8.430610 -0.22286  51.49715
51706        30.235363  697.673227        12.487135 -0.06739  51.50889

            city  day_type
0      Amsterdam  Weekdays
1      Amsterdam  Weekdays
2      Amsterdam  Weekdays
3      Amsterdam  Weekdays
4      Amsterdam  Weekdays
...          ...       ...
51702     London  Weekends
51703     London  Weekends
51704     London  Weekends
51705     London  Weekends
51706     London  Weekends

[51707 rows x 21 columns]