In [ ]:
!pip install --upgrade duckdb pandas

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.10.1)
Collecting duckdb
  Downloading duckdb-0.10.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 4.4 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: duckdb
  Attempting uninstall: duckdb
    Found existing installation: duckdb 0.10.1
    Uninstalling duckdb-0.10.1:
      Successfully uninstalled duckdb-0.10.1
Successfully installed duckdb-0.10.2

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# We should have the same version (0.10.1) of duckdb to load the database without any problem:
!pip show duckdb

Name: duckdb
Version: 0.10.2
Summary: DuckDB in-process database
Home-page: https://www.duckdb.org
Author:
Author-email:
License: MIT
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by: malloy

In [ ]:
!pip install -U duckdb==0.10.1

Collecting duckdb==0.10.1
  Using cached duckdb-0.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.1 MB)
Installing collected packages: duckdb
  Attempting uninstall: duckdb
    Found existing installation: duckdb 0.10.2
    Uninstalling duckdb-0.10.2:
      Successfully uninstalled duckdb-0.10.2
Successfully installed duckdb-0.10.1

In [ ]:
!wget -O "duckdb.jar" "https://repo1.maven.org/maven2/org/duckdb/duckdb_jdbc/0.10.1/duckdb_jdbc-0.10.1.jar"

--2024-04-24 11:13:41--  https://repo1.maven.org/maven2/org/duckdb/duckdb_jdbc/0.10.1/duckdb_jdbc-0.10.1.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209, 2a04:4e42:4c::209, ...
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64009472 (61M) [application/java-archive]
Saving to: ‘duckdb.jar’

duckdb.jar          100%[===================>]  61.04M   153MB/s    in 0.4s

2024-04-24 11:13:41 (153 MB/s) - ‘duckdb.jar’ saved [64009472/64009472]

In [16]:
import duckdb

# Conectar a la base de datos DuckDB
conn = duckdb.connect(database='database.duckdb', read_only=True)

# Ejecutar una consulta para obtener la estructura de la tabla 'flights'
query = "PRAGMA table_info('flights')"
table_info = conn.execute(query).fetchall()

# Imprimir información de cada columna
for column in table_info:
    print(f"Column Name: {column[1]}, Data Type: {column[2]}")

# Cerrar la conexión
conn.close()

Column Name: airport_acronym, Data Type: VARCHAR
Column Name: longitude, Data Type: DOUBLE
Column Name: latitude, Data Type: DOUBLE
Column Name: city, Data Type: VARCHAR
Column Name: flight_number_default, Data Type: VARCHAR
Column Name: estimated_arrival_time, Data Type: VARCHAR
Column Name: estimated_departure_time, Data Type: VARCHAR
Column Name: real_arrival_time, Data Type: VARCHAR
Column Name: real_departure_time, Data Type: VARCHAR
Column Name: scheduled_arrival_time, Data Type: VARCHAR
Column Name: scheduled_departure_time, Data Type: VARCHAR
Column Name: owner_name, Data Type: VARCHAR
Column Name: owner_logo, Data Type: VARCHAR
Column Name: destination_gate, Data Type: VARCHAR
Column Name: destination_terminal, Data Type: VARCHAR
Column Name: destination_baggage, Data Type: VARCHAR
Column Name: origin_airport, Data Type: VARCHAR
Column Name: origin_city, Data Type: VARCHAR
Column Name: origin_latitude, Data Type: VARCHAR
Column Name: origin_longitude, Data Type: VARCHAR
Column Name: origin_gate, Data Type: VARCHAR
Column Name: origin_terminal, Data Type: VARCHAR
Column Name: flight_status_live, Data Type: VARCHAR

In [17]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
    .config("spark.jars", "duckdb.jar") \
    .getOrCreate()

DF = spark.read \
  .format("jdbc") \
  .option("url", "jdbc:duckdb:database.duckdb") \
  .option("driver", "org.duckdb.DuckDBDriver") \
  .option("query", "SELECT * FROM flights") \
  .load()

DF.show()

+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
|airport_acronym|longitude| latitude|     city|flight_number_default|estimated_arrival_time|estimated_departure_time|real_arrival_time|real_departure_time|scheduled_arrival_time|scheduled_departure_time|          owner_name|          owner_logo|destination_gate|destination_terminal|destination_baggage|origin_airport|origin_city|origin_latitude|origin_longitude|origin_gate|origin_terminal|flight_status_live|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
|           EHAM| 4.763889|52.308609|Amsterdam|                OS373|                  NULL|                    NULL|       1711034744|         1711029233|            1711035900|              1711029000|   Austrian Airlines|https://images.fl...|            NULL|                   1|               NULL|           VIE|     Vienna|      48.110271|       16.569719|        F26|              3|             false|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1920|            1711036170|                    NULL|             NULL|         1711031577|            1711035900|              1711028700|      KLM Cityhopper|https://images.fl...|             A04|                   2|                010|           GDN|     Gdansk|      54.376484|        18.47064|         16|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               LH2306|            1711038464|                    NULL|             NULL|         1711035404|            1711036200|              1711030500|  Lufthansa CityLine|                NULL|            NULL|                   1|               NULL|           MUC|     Munich|      48.353779|        11.78608|        G11|              2|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               SK1549|            1711037440|                    NULL|             NULL|         1711033861|            1711036200|              1711031100|            SAS Link|https://images.fl...|            NULL|                   1|               NULL|           CPH| Copenhagen|      55.616959|       12.645637|        B15|              3|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                 NULL|                  NULL|              1711035600|             NULL|               NULL|            1711036320|              1711035000|                NULL|                NULL|            NULL|                NULL|               NULL|           GLZ|      Breda|      51.567402|         4.93183|       NULL|           NULL|             false|
|           EHAM| 4.763889|52.308609|Amsterdam|               HV5582|            1711036680|                    NULL|             NULL|         1711030530|            1711036500|              1711029000|           Transavia|                NULL|            NULL|                   1|               NULL|           NCE|       Nice|      43.661453|         7.21736|          G|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               TK1953|            1711035810|                    NULL|             NULL|         1711024812|            1711036500|              1711023300|    Turkish Airlines|https://images.fl...|            NULL|                   3|               NULL|           IST|   Istanbul|      41.267052|       28.729757|        A1H|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                TP672|            1711037060|                    NULL|             NULL|         1711027289|            1711036800|              1711026000|    TAP Air Portugal|https://images.fl...|            NULL|                   1|               NULL|           LIS|     Lisbon|      38.781311|        -9.13591|       NULL|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                AZ110|            1711036280|                    NULL|             NULL|         1711029076|            1711037700|              1711028400|         ITA Airways|https://images.fl...|            NULL|                   1|               NULL|           FCO|       Rome|       41.80447|        12.25079|       NULL|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1944|            1711038080|                    NULL|             NULL|         1711031954|            1711037700|              1711029900|      KLM Cityhopper|https://images.fl...|             A04|                   2|                009|           ZAG|     Zagreb|      45.742931|       16.068769|        G12|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                MU771|            1711036410|                    NULL|             NULL|         1710995703|            1711037700|              1710993900|China Eastern Air...|https://images.fl...|              E9|                   3|                 16|           PVG|   Shanghai|       31.14337|      121.805199|          K|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               U28683|            1711035910|                    NULL|             NULL|         1711033470|            1711037700|              1711032900|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LGW|     London|      51.148048|        -0.19027|        107|              N|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KE925|            1711038080|                    NULL|             NULL|         1710988510|            1711037700|              1710987000|          Korean Air|https://images.fl...|            NULL|                   3|               NULL|           ICN|      Seoul|       37.46907|        126.4505|        255|              2|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL898|            1711039104|                    NULL|             NULL|         1710994793|            1711038000|              1710993000|                 KLM|https://images.fl...|              F7|                   2|                 12|           PEK|    Beijing|      40.084152|      116.592735|          8|              2|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               U22519|            1711037056|                    NULL|             NULL|         1711034307|            1711038000|              1711033800|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LTN|     London|      51.874722|        -0.36833|         14|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               U27842|            1711037184|                    NULL|             NULL|         1711035368|            1711038600|              1711034400|      easyJet Europe|https://images.fl...|            NULL|                NULL|               NULL|           STN|     London|      51.884998|           0.235|       NULL|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL862|            1711037570|                    NULL|             NULL|         1710989262|            1711038600|              1710988200|                 KLM|https://images.fl...|              F4|                   3|                 15|           NRT|      Tokyo|      35.764721|      140.386307|         17|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL868|            1711037120|                    NULL|             NULL|         1710987855|            1711038600|              1710986700|                 KLM|https://images.fl...|             E17|                   2|                  8|           KIX|      Osaka|      34.427299|      135.244003|         21|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               UX1093|            1711039616|                    NULL|             NULL|         1711031860|            1711038900|              1711029600|          Air Europa|https://images.fl...|            NULL|                   1|               NULL|           MAD|     Madrid|      40.488701|           -3.57|        E72|              3|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               BA8455|            1711037568|                    NULL|             NULL|         1711035092|            1711038900|              1711035000|        BA CityFlyer|                NULL|            NULL|                   1|                 02|           LCY|     London|      51.505268|        0.055278|       NULL|           NULL|              true|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
only showing top 20 rows

## Preprocessing

In [107]:
from pyspark.sql import functions as F
from pyspark.sql.types import DateType

#### Missings

In [19]:
null_counts = DF.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in DF.columns])
null_counts.show()

+---------------+---------+--------+----+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+----------+----------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
|airport_acronym|longitude|latitude|city|flight_number_default|estimated_arrival_time|estimated_departure_time|real_arrival_time|real_departure_time|scheduled_arrival_time|scheduled_departure_time|owner_name|owner_logo|destination_gate|destination_terminal|destination_baggage|origin_airport|origin_city|origin_latitude|origin_longitude|origin_gate|origin_terminal|flight_status_live|
+---------------+---------+--------+----+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+----------+----------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
|              0|        0|       0|   0|                  154|                  1299|                     612|             1758|               1270|                     0|                       0|       259|       531|            1528|                 730|               1432|             0|          0|              0|               0|        969|            969|                 0|
+---------------+---------+--------+----+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+----------+----------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+

There are too many missing values in the arrival and departure columns of the flights. This is due to many flights not having yet departed or landed. For dynamic flight tracking analysis, this database would not be useful; instead, it would be done directly through the API. Since we cannot perform dynamic analysis, we plan to use only those flights that have landed, so we will focus the database preprocessing on our Data Analysis Pipeline. The idea we have for using the flight database is to try to predict whether a flight will be delayed or not. For this, we will use the relevant variables from this database. Since there is very little data on real_arrival_time, we will derive the delay variable with the real_departure_time or estimated arrival if available.

First of all, if the real arrival time is later than the scheduled one, then it has experienced a delay.

In [113]:
DF_delay = DF.withColumn('delay_in_seconds',F.lit(None))
for ad in ['departure','arrival']:
    for re in ['estimated','real']:
        DF_Delay = DF_Delay.withColumn(
            "delay_in_seconds",
            F.when(
                (F.col(f"{re}_{ad}_time").isNotNull()) &
                (F.col(f"scheduled_{ad}_time").isNotNull()),
                (F.col(f"{re}_{ad}_time") - F.col(f"scheduled_{ad}_time"))
            ).otherwise(F.col("delay_in_seconds"))
        )

In [114]:
print(f"There are {DF_Delay.filter(DF_Delay.delay_in_seconds > 0).count()} flights with delay")

There are 865 flights with delay

In [115]:
DF_Delay = DF_Delay.dropna(subset="delay_in_seconds")

In [116]:
DF_Delay.count()

1680

In [117]:
DF_Delay = DF_Delay.withColumn(
    "has_delay",
    F.when(
        (F.col("delay_in_seconds").isNotNull()) &
        (F.col("delay_in_seconds") > 0),
        1
    ).otherwise(0)
)

DF_Delay.show()

+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+----------------+---------+
|airport_acronym|longitude| latitude|     city|flight_number_default|estimated_arrival_time|estimated_departure_time|real_arrival_time|real_departure_time|scheduled_arrival_time|scheduled_departure_time|          owner_name|          owner_logo|destination_gate|destination_terminal|destination_baggage|origin_airport|origin_city|origin_latitude|origin_longitude|origin_gate|origin_terminal|flight_status_live|delay_in_seconds|has_delay|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+----------------+---------+
|           EHAM| 4.763889|52.308609|Amsterdam|                OS373|                  NULL|                    NULL|       1711034744|         1711029233|            1711035900|              1711029000|   Austrian Airlines|https://images.fl...|            NULL|                   1|               NULL|           VIE|     Vienna|      48.110271|       16.569719|        F26|              3|             false|         -1156.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1920|            1711036170|                    NULL|             NULL|         1711031577|            1711035900|              1711028700|      KLM Cityhopper|https://images.fl...|             A04|                   2|                010|           GDN|     Gdansk|      54.376484|        18.47064|         16|           NULL|              true|           270.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|               LH2306|            1711038464|                    NULL|             NULL|         1711035404|            1711036200|              1711030500|  Lufthansa CityLine|                NULL|            NULL|                   1|               NULL|           MUC|     Munich|      48.353779|        11.78608|        G11|              2|              true|          2264.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|               SK1549|            1711037440|                    NULL|             NULL|         1711033861|            1711036200|              1711031100|            SAS Link|https://images.fl...|            NULL|                   1|               NULL|           CPH| Copenhagen|      55.616959|       12.645637|        B15|              3|              true|          1240.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|                 NULL|                  NULL|              1711035600|             NULL|               NULL|            1711036320|              1711035000|                NULL|                NULL|            NULL|                NULL|               NULL|           GLZ|      Breda|      51.567402|         4.93183|       NULL|           NULL|             false|           600.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|               HV5582|            1711036680|                    NULL|             NULL|         1711030530|            1711036500|              1711029000|           Transavia|                NULL|            NULL|                   1|               NULL|           NCE|       Nice|      43.661453|         7.21736|          G|              1|              true|           180.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|               TK1953|            1711035810|                    NULL|             NULL|         1711024812|            1711036500|              1711023300|    Turkish Airlines|https://images.fl...|            NULL|                   3|               NULL|           IST|   Istanbul|      41.267052|       28.729757|        A1H|           NULL|              true|          -690.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|                TP672|            1711037060|                    NULL|             NULL|         1711027289|            1711036800|              1711026000|    TAP Air Portugal|https://images.fl...|            NULL|                   1|               NULL|           LIS|     Lisbon|      38.781311|        -9.13591|       NULL|              1|              true|           260.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|                AZ110|            1711036280|                    NULL|             NULL|         1711029076|            1711037700|              1711028400|         ITA Airways|https://images.fl...|            NULL|                   1|               NULL|           FCO|       Rome|       41.80447|        12.25079|       NULL|              1|              true|         -1420.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1944|            1711038080|                    NULL|             NULL|         1711031954|            1711037700|              1711029900|      KLM Cityhopper|https://images.fl...|             A04|                   2|                009|           ZAG|     Zagreb|      45.742931|       16.068769|        G12|           NULL|              true|           380.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|                MU771|            1711036410|                    NULL|             NULL|         1710995703|            1711037700|              1710993900|China Eastern Air...|https://images.fl...|              E9|                   3|                 16|           PVG|   Shanghai|       31.14337|      121.805199|          K|              1|              true|         -1290.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|               U28683|            1711035910|                    NULL|             NULL|         1711033470|            1711037700|              1711032900|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LGW|     London|      51.148048|        -0.19027|        107|              N|              true|         -1790.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|                KE925|            1711038080|                    NULL|             NULL|         1710988510|            1711037700|              1710987000|          Korean Air|https://images.fl...|            NULL|                   3|               NULL|           ICN|      Seoul|       37.46907|        126.4505|        255|              2|              true|           380.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL898|            1711039104|                    NULL|             NULL|         1710994793|            1711038000|              1710993000|                 KLM|https://images.fl...|              F7|                   2|                 12|           PEK|    Beijing|      40.084152|      116.592735|          8|              2|              true|          1104.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|               U22519|            1711037056|                    NULL|             NULL|         1711034307|            1711038000|              1711033800|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LTN|     London|      51.874722|        -0.36833|         14|           NULL|              true|          -944.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|               U27842|            1711037184|                    NULL|             NULL|         1711035368|            1711038600|              1711034400|      easyJet Europe|https://images.fl...|            NULL|                NULL|               NULL|           STN|     London|      51.884998|           0.235|       NULL|              1|              true|         -1416.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL862|            1711037570|                    NULL|             NULL|         1710989262|            1711038600|              1710988200|                 KLM|https://images.fl...|              F4|                   3|                 15|           NRT|      Tokyo|      35.764721|      140.386307|         17|              1|              true|         -1030.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL868|            1711037120|                    NULL|             NULL|         1710987855|            1711038600|              1710986700|                 KLM|https://images.fl...|             E17|                   2|                  8|           KIX|      Osaka|      34.427299|      135.244003|         21|              1|              true|         -1480.0|        0|
|           EHAM| 4.763889|52.308609|Amsterdam|               UX1093|            1711039616|                    NULL|             NULL|         1711031860|            1711038900|              1711029600|          Air Europa|https://images.fl...|            NULL|                   1|               NULL|           MAD|     Madrid|      40.488701|           -3.57|        E72|              3|              true|           716.0|        1|
|           EHAM| 4.763889|52.308609|Amsterdam|               BA8455|            1711037568|                    NULL|             NULL|         1711035092|            1711038900|              1711035000|        BA CityFlyer|                NULL|            NULL|                   1|                 02|           LCY|     London|      51.505268|        0.055278|       NULL|           NULL|              true|         -1332.0|        0|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+----------------+---------+
only showing top 20 rows

Now, we will delete arrival and departure times and keep only the date of the flight to be able to connect to the aribnb database.

In [122]:
DF_Date = DF_Delay.withColumn("arrival_date", F.from_unixtime(F.col("scheduled_arrival_time"), "yyyy-MM-dd").cast(DateType()))

We will keep the departure time because it can impact to the delay. Many times, last flights of the day have delay but it is not usual to have delay in the first flight.

In [125]:
DF_Time = DF_Date.withColumn("departure_time", F.from_unixtime(F.col("scheduled_departure_time"), "HH:mm:ss"))

Finally we will delete unuseful columns

In [126]:
DF_Time.show()

+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+----------------+---------+------------+--------------+
|airport_acronym|longitude| latitude|     city|flight_number_default|estimated_arrival_time|estimated_departure_time|real_arrival_time|real_departure_time|scheduled_arrival_time|scheduled_departure_time|          owner_name|          owner_logo|destination_gate|destination_terminal|destination_baggage|origin_airport|origin_city|origin_latitude|origin_longitude|origin_gate|origin_terminal|flight_status_live|delay_in_seconds|has_delay|arrival_date|departure_time|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+----------------+---------+------------+--------------+
|           EHAM| 4.763889|52.308609|Amsterdam|                OS373|                  NULL|                    NULL|       1711034744|         1711029233|            1711035900|              1711029000|   Austrian Airlines|https://images.fl...|            NULL|                   1|               NULL|           VIE|     Vienna|      48.110271|       16.569719|        F26|              3|             false|         -1156.0|        0|  2024-03-21|      13:50:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1920|            1711036170|                    NULL|             NULL|         1711031577|            1711035900|              1711028700|      KLM Cityhopper|https://images.fl...|             A04|                   2|                010|           GDN|     Gdansk|      54.376484|        18.47064|         16|           NULL|              true|           270.0|        1|  2024-03-21|      13:45:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               LH2306|            1711038464|                    NULL|             NULL|         1711035404|            1711036200|              1711030500|  Lufthansa CityLine|                NULL|            NULL|                   1|               NULL|           MUC|     Munich|      48.353779|        11.78608|        G11|              2|              true|          2264.0|        1|  2024-03-21|      14:15:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               SK1549|            1711037440|                    NULL|             NULL|         1711033861|            1711036200|              1711031100|            SAS Link|https://images.fl...|            NULL|                   1|               NULL|           CPH| Copenhagen|      55.616959|       12.645637|        B15|              3|              true|          1240.0|        1|  2024-03-21|      14:25:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                 NULL|                  NULL|              1711035600|             NULL|               NULL|            1711036320|              1711035000|                NULL|                NULL|            NULL|                NULL|               NULL|           GLZ|      Breda|      51.567402|         4.93183|       NULL|           NULL|             false|           600.0|        1|  2024-03-21|      15:30:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               HV5582|            1711036680|                    NULL|             NULL|         1711030530|            1711036500|              1711029000|           Transavia|                NULL|            NULL|                   1|               NULL|           NCE|       Nice|      43.661453|         7.21736|          G|              1|              true|           180.0|        1|  2024-03-21|      13:50:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               TK1953|            1711035810|                    NULL|             NULL|         1711024812|            1711036500|              1711023300|    Turkish Airlines|https://images.fl...|            NULL|                   3|               NULL|           IST|   Istanbul|      41.267052|       28.729757|        A1H|           NULL|              true|          -690.0|        0|  2024-03-21|      12:15:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                TP672|            1711037060|                    NULL|             NULL|         1711027289|            1711036800|              1711026000|    TAP Air Portugal|https://images.fl...|            NULL|                   1|               NULL|           LIS|     Lisbon|      38.781311|        -9.13591|       NULL|              1|              true|           260.0|        1|  2024-03-21|      13:00:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                AZ110|            1711036280|                    NULL|             NULL|         1711029076|            1711037700|              1711028400|         ITA Airways|https://images.fl...|            NULL|                   1|               NULL|           FCO|       Rome|       41.80447|        12.25079|       NULL|              1|              true|         -1420.0|        0|  2024-03-21|      13:40:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1944|            1711038080|                    NULL|             NULL|         1711031954|            1711037700|              1711029900|      KLM Cityhopper|https://images.fl...|             A04|                   2|                009|           ZAG|     Zagreb|      45.742931|       16.068769|        G12|           NULL|              true|           380.0|        1|  2024-03-21|      14:05:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                MU771|            1711036410|                    NULL|             NULL|         1710995703|            1711037700|              1710993900|China Eastern Air...|https://images.fl...|              E9|                   3|                 16|           PVG|   Shanghai|       31.14337|      121.805199|          K|              1|              true|         -1290.0|        0|  2024-03-21|      04:05:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               U28683|            1711035910|                    NULL|             NULL|         1711033470|            1711037700|              1711032900|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LGW|     London|      51.148048|        -0.19027|        107|              N|              true|         -1790.0|        0|  2024-03-21|      14:55:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KE925|            1711038080|                    NULL|             NULL|         1710988510|            1711037700|              1710987000|          Korean Air|https://images.fl...|            NULL|                   3|               NULL|           ICN|      Seoul|       37.46907|        126.4505|        255|              2|              true|           380.0|        1|  2024-03-21|      02:10:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL898|            1711039104|                    NULL|             NULL|         1710994793|            1711038000|              1710993000|                 KLM|https://images.fl...|              F7|                   2|                 12|           PEK|    Beijing|      40.084152|      116.592735|          8|              2|              true|          1104.0|        1|  2024-03-21|      03:50:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               U22519|            1711037056|                    NULL|             NULL|         1711034307|            1711038000|              1711033800|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LTN|     London|      51.874722|        -0.36833|         14|           NULL|              true|          -944.0|        0|  2024-03-21|      15:10:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               U27842|            1711037184|                    NULL|             NULL|         1711035368|            1711038600|              1711034400|      easyJet Europe|https://images.fl...|            NULL|                NULL|               NULL|           STN|     London|      51.884998|           0.235|       NULL|              1|              true|         -1416.0|        0|  2024-03-21|      15:20:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL862|            1711037570|                    NULL|             NULL|         1710989262|            1711038600|              1710988200|                 KLM|https://images.fl...|              F4|                   3|                 15|           NRT|      Tokyo|      35.764721|      140.386307|         17|              1|              true|         -1030.0|        0|  2024-03-21|      02:30:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL868|            1711037120|                    NULL|             NULL|         1710987855|            1711038600|              1710986700|                 KLM|https://images.fl...|             E17|                   2|                  8|           KIX|      Osaka|      34.427299|      135.244003|         21|              1|              true|         -1480.0|        0|  2024-03-21|      02:05:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               UX1093|            1711039616|                    NULL|             NULL|         1711031860|            1711038900|              1711029600|          Air Europa|https://images.fl...|            NULL|                   1|               NULL|           MAD|     Madrid|      40.488701|           -3.57|        E72|              3|              true|           716.0|        1|  2024-03-21|      14:00:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               BA8455|            1711037568|                    NULL|             NULL|         1711035092|            1711038900|              1711035000|        BA CityFlyer|                NULL|            NULL|                   1|                 02|           LCY|     London|      51.505268|        0.055278|       NULL|           NULL|              true|         -1332.0|        0|  2024-03-21|      15:30:00|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+----------------+---------+------------+--------------+
only showing top 20 rows

In [139]:
columns_to_drop = [
    'estimated_arrival_time',
    'estimated_departure_time',
    'real_arrival_time',
    'real_departure_time',
    'scheduled_arrival_time',
    'scheduled_departure_time',
    'destination_gate',
    'destination_terminal',
    'destination_baggage',
    'origin_gate',
    'origin_terminal',
    'flight_status_live',
    'delay_in_seconds'
]

# Make sure to strip any accidental leading or trailing spaces from column names
columns_to_drop = [col.strip() for col in columns_to_drop]

# Drop the columns
DF_cols = DF_Time.drop(*columns_to_drop)

Change NULL to 'Unkown'

In [142]:
null_counts = DF_cols.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in DF_cols.columns])
null_counts.show()

+---------------+---------+--------+----+---------------------+----------+----------+--------------+-----------+---------------+----------------+---------+------------+--------------+
|airport_acronym|longitude|latitude|city|flight_number_default|owner_name|owner_logo|origin_airport|origin_city|origin_latitude|origin_longitude|has_delay|arrival_date|departure_time|
+---------------+---------+--------+----+---------------------+----------+----------+--------------+-----------+---------------+----------------+---------+------------+--------------+
|              0|        0|       0|   0|                  144|       182|       453|             0|          0|              0|               0|        0|           0|             0|
+---------------+---------+--------+----+---------------------+----------+----------+--------------+-----------+---------------+----------------+---------+------------+--------------+

In [140]:
DF_Final = DF_cols.fillna('Unknown')

In [141]:
DF_Final.show()

+---------------+---------+---------+---------+---------------------+--------------------+--------------------+--------------+-----------+---------------+----------------+---------+------------+--------------+
|airport_acronym|longitude| latitude|     city|flight_number_default|          owner_name|          owner_logo|origin_airport|origin_city|origin_latitude|origin_longitude|has_delay|arrival_date|departure_time|
+---------------+---------+---------+---------+---------------------+--------------------+--------------------+--------------+-----------+---------------+----------------+---------+------------+--------------+
|           EHAM| 4.763889|52.308609|Amsterdam|                OS373|   Austrian Airlines|https://images.fl...|           VIE|     Vienna|      48.110271|       16.569719|        0|  2024-03-21|      13:50:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1920|      KLM Cityhopper|https://images.fl...|           GDN|     Gdansk|      54.376484|        18.47064|        1|  2024-03-21|      13:45:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               LH2306|  Lufthansa CityLine|             Unknown|           MUC|     Munich|      48.353779|        11.78608|        1|  2024-03-21|      14:15:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               SK1549|            SAS Link|https://images.fl...|           CPH| Copenhagen|      55.616959|       12.645637|        1|  2024-03-21|      14:25:00|
|           EHAM| 4.763889|52.308609|Amsterdam|              Unknown|             Unknown|             Unknown|           GLZ|      Breda|      51.567402|         4.93183|        1|  2024-03-21|      15:30:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               HV5582|           Transavia|             Unknown|           NCE|       Nice|      43.661453|         7.21736|        1|  2024-03-21|      13:50:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               TK1953|    Turkish Airlines|https://images.fl...|           IST|   Istanbul|      41.267052|       28.729757|        0|  2024-03-21|      12:15:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                TP672|    TAP Air Portugal|https://images.fl...|           LIS|     Lisbon|      38.781311|        -9.13591|        1|  2024-03-21|      13:00:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                AZ110|         ITA Airways|https://images.fl...|           FCO|       Rome|       41.80447|        12.25079|        0|  2024-03-21|      13:40:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1944|      KLM Cityhopper|https://images.fl...|           ZAG|     Zagreb|      45.742931|       16.068769|        1|  2024-03-21|      14:05:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                MU771|China Eastern Air...|https://images.fl...|           PVG|   Shanghai|       31.14337|      121.805199|        0|  2024-03-21|      04:05:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               U28683|             easyJet|https://images.fl...|           LGW|     London|      51.148048|        -0.19027|        0|  2024-03-21|      14:55:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KE925|          Korean Air|https://images.fl...|           ICN|      Seoul|       37.46907|        126.4505|        1|  2024-03-21|      02:10:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL898|                 KLM|https://images.fl...|           PEK|    Beijing|      40.084152|      116.592735|        1|  2024-03-21|      03:50:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               U22519|             easyJet|https://images.fl...|           LTN|     London|      51.874722|        -0.36833|        0|  2024-03-21|      15:10:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               U27842|      easyJet Europe|https://images.fl...|           STN|     London|      51.884998|           0.235|        0|  2024-03-21|      15:20:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL862|                 KLM|https://images.fl...|           NRT|      Tokyo|      35.764721|      140.386307|        0|  2024-03-21|      02:30:00|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL868|                 KLM|https://images.fl...|           KIX|      Osaka|      34.427299|      135.244003|        0|  2024-03-21|      02:05:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               UX1093|          Air Europa|https://images.fl...|           MAD|     Madrid|      40.488701|           -3.57|        1|  2024-03-21|      14:00:00|
|           EHAM| 4.763889|52.308609|Amsterdam|               BA8455|        BA CityFlyer|             Unknown|           LCY|     London|      51.505268|        0.055278|        0|  2024-03-21|      15:30:00|
+---------------+---------+---------+---------+---------------------+--------------------+--------------------+--------------+-----------+---------------+----------------+---------+------------+--------------+
only showing top 20 rows

In [143]:
conn = duckdb.connect("quality_database.duckdb")
conn.close()

DF_Final.write \
    .format("jdbc") \
    .option("url", "jdbc:duckdb:quality_database.duckdb") \
    .option("dbtable", "flights") \
    .option("driver", "org.duckdb.DuckDBDriver") \
    .save()