In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f6d4504521e3ffb40cdc2e4155616e0910d6cc36a6402f85da74f2eac4e3b2d7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import json
def save_json(dicc,file):
    with open(file,'w') as f:
        f.write(json.dumps(dicc))

In [3]:
def read_json(file):
    with open(file,'r') as f:
        data = json.load(f)
    return data

In [ ]:
!pip install FlightRadarAPI

Collecting FlightRadarAPI
  Using cached flightradarapi-1.3.27-py3-none-any.whl (14 kB)
Collecting brotli (from FlightRadarAPI)
  Using cached Brotli-1.1.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.0 MB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from FlightRadarAPI) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->FlightRadarAPI) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->FlightRadarAPI) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->FlightRadarAPI) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->FlightRadarAPI) (2024.2.2)
Installing collected packages: brotli, FlightRadarAPI
Successfully installed FlightRadarAPI-1.3.27 brotli-1.1.0

In [ ]:
from FlightRadar24 import FlightRadar24API
import re
fr_api = FlightRadar24API()

## Obtain airports from cities we are interested in\

In [ ]:
airports = fr_api.get_airports()

In [ ]:
# List of cities
cities = ['Amsterdam','Athens','Barcelona','Berlin','Budapest','Lisbon','London','Paris','Rome','Vienna']

In [ ]:
import re
regex = r'\((.*?)\)'
airports_in_city = []

for ap in airports:
    for city in cities:
        if city in str(ap):
            acronym = re.findall(regex,str(ap))[0]
            airports_in_city.append(ap)
            break

In [ ]:
def parseig_aeroports(lista_aeropuertos):
    airports_info = {}
    regex = r'\((.*?)\) .*? Latitude: ([-+]?\d+\.\d+) - Longitude: ([-+]?\d+\.\d+)'

    for aeropuerto in lista_aeropuertos:
        matches = re.findall(regex, str(aeropuerto))
        if matches:
            siglas = matches[0][0]
            latitude = float(matches[0][1])
            longitude = float(matches[0][2])
            for city in cities:
                if city in aeropuerto:
                    airp_city = city
            airports_info[siglas] = {'Latitude': latitude, 'Longitude': longitude,'City':airp_city}

    return airports_info

In [ ]:
airports_info = parseig_aeroports(airports_in_city)

We store information we have by the moment because we had some issues with API requests.

In [ ]:
save_json(airports_info,'airports_info.json')

## Get arrivals from airports

In [ ]:
airports_info = read_json('airports_info.json')

In [ ]:
def get_100_arrivals(acronym):
    aeroport = fr_api.get_airport_details(acronym)
    vols = aeroport['airport']['pluginData']['schedule']['arrivals']['data']
    return vols

In [ ]:
for airp in airports_info.keys():
    airports_info[airp]['arrivals'] = get_100_arrivals(airp)

In [ ]:
save_json(airports_info,'airport_info_arrivals.json')

## Save into DataLake

In [4]:
import re

In [5]:
airports_info = read_json('airport_info_arrivals.json')

In [6]:
from pyspark.sql import SparkSession

# Init session in Spark
spark = SparkSession.builder \
    .appName("JSON a Parquet con Spark SQL") \
    .getOrCreate()

# Read json and create a temporal view
df = spark.read.json("airport_info_arrivals.json")
df.createOrReplaceTempView("airport_info_arrivals")

# Use Spark SQL to select the data
selected_data = spark.sql("SELECT * FROM airport_info_arrivals")

In [7]:
from pyspark.sql import SparkSession

# Init session in Spark
spark = SparkSession.builder \
    .appName("JSON a Parquet con Spark SQL") \
    .getOrCreate()

# Read json and create a temporal view
df = spark.read.json("airport_info_arrivals.json")
df.createOrReplaceTempView("airport_info_arrivals")

# Use Spark SQL to select the data
selected_data = spark.sql("SELECT * FROM airport_info_arrivals")

# Save data as a parquet file
selected_data.write.parquet("datalake/airport_info_arrivals.parquet")

# Stop Spark Session
spark.stop()

We realized that out json didn't have a great format to manage the data as we want. So we need to change it to have the following structure to begin:

| Airport acronym | Longitude | Latitude | City  | arrivals |
| --------------- | --------- | -------- | ----  | -------- |
| EHAM | 52.308609 | 4.763889 | Amsterdam  | [flight 3473cc55] |

To get this new structure we'll use map reduce, as we have seen in class. Then we'll built another parquet file and it will be the definitive of our datalake.

In [8]:
# Map function: transform input into intermediate key-value output
def map_function(input_data):
    intermediate = []
    for key, value in input_data.items():
        # The key is the airport acronym, and the value is the corresponding information
        intermediate.append((key, value))
    return intermediate

# Reduce function: process intermediate values for each key and emit final result
# In this case, each key is unique, so we just pass the data through
def reduce_function(intermediate_data):
    result = []
    for key, values in intermediate_data:
        # Transform the value to the desired structure (in this case, it's already in the desired structure)
        result.append((key, values['Longitude'], values['Latitude'], values['City'], values['arrivals']))
    return result

# Simulate the MapReduce process
intermediate = map_function(airports_info)
final_result = reduce_function(intermediate)

# Display the result
for item in final_result:
    print(item)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

### Convert json info into columns

In [9]:
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, ArrayType, DoubleType

In [10]:
flight_schema = schema = StructType([
    StructField("identification", StructType([
        StructField("number", StructType([
            StructField("default", StringType(), True)
        ]), True)
    ]), True),
    StructField("time", StructType([
        StructField("estimated", StructType([
            StructField("arrival", StringType(), True),
            StructField("departure", StringType(), True)
        ]), True),
        StructField("real", StructType([
            StructField("arrival", StringType(), True),
            StructField("departure", StringType(), True)
        ]), True),
        StructField("scheduled", StructType([
            StructField("arrival", StringType(), True),
            StructField("departure", StringType(), True)
        ]), True)
    ]), True),
    StructField("owner", StructType([
            StructField("name", StringType(), True),
            StructField("logo", StringType(), True)
        ]), True),
    StructField("airport", StructType([
        StructField("destination", StructType([
            StructField("info", StructType([
                StructField("gate", StringType(), True),
                StructField("terminal", StringType(), True),
                StructField("baggage", StringType(), True)
            ]), True)
        ]), True),
        StructField("real", StringType(), True),
        StructField("origin", StructType([
            StructField("name", StringType(), True),
            StructField("code", StructType([
                StructField("iata", StringType(), True)
            ]), True),
            StructField("position", StructType([
                StructField("region", StructType([
                    StructField("city", StringType(), True)
                ]), True),
                StructField("latitude", StringType(), True),
                StructField("longitude", StringType(), True)
            ]), True),
            StructField("info", StructType([
                StructField("gate", StringType(), True),
                StructField("terminal", StringType(), True)
            ]), True)
        ]), True)
    ]), True),
    StructField("status", StructType([
        StructField("live", StringType(), True)
    ]), True)
])

In [11]:
# Define the DataFrame schema according to the desired structure
schema = StructType([
    StructField("airport_acronym", StringType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("city", StringType(), True),
    StructField("arrivals", ArrayType(StructType([
    StructField("flight", flight_schema
    , True)
])), True)
])

# Start a Spark session
spark = SparkSession.builder \
    .appName("Load and Save Transformed Data") \
    .getOrCreate()

# Create a DataFrame from the transformed data and the defined schema
df = spark.createDataFrame(data=final_result, schema=schema)

# Show the DataFrame to verify its content
df.show()
df.printSchema()

+---------------+----------+---------+---------+--------------------+
|airport_acronym| longitude| latitude|     city|            arrivals|
+---------------+----------+---------+---------+--------------------+
|           EHAM|  4.763889|52.308609|Amsterdam|[{{{{OS373}}, {{N...|
|           KAHN|-83.324722| 33.95195|   Athens|[{{{{NULL}}, {{17...|
|           LGAV|  23.94446|37.936352|   Athens|[{{{{A3247}}, {{N...|
|           KUNI|  -82.2314|39.210999|   Athens|                  []|
|           KMMI|  -84.5625|35.397221|   Athens|                  []|
|           LEBL|  2.078463| 41.29707|Barcelona|[{{{{VY2219}}, {{...|
|           SVBC|-64.689102| 10.10713|Barcelona|[{{{{CM328}}, {{1...|
|           EDDB| 13.503722|52.362877|   Berlin|[{{{{BA994}}, {{1...|
|           LHBS| 18.980589|47.451065| Budapest|                  []|
|           LHBP|  19.25559|47.436932| Budapest|[{{{{W62222}}, {{...|
|           FAEL|  27.82593| -33.0355|   London|[{{{{4Z917}}, {{1...|
|           LPPT|  -9.13591|38.781311|   Lisbon|[{{{{FR9575}}, {{...|
|           EGKB|    0.0325| 51.33083|   London|[{{{{EMC1}}, {{17...|
|           EGLC|  0.055278|51.505268|   London|[{{{{BA8488}}, {{...|
|           KLOZ|-84.076942|37.087223|   London|                  []|
|           EGTR| -0.325833|51.655834|   London|                  []|
|           EGKK|  -0.19027|51.148048|   London|[{{{{U28704}}, {{...|
|           EGLL| -0.467081|51.471626|   London|[{{{{BA507}}, {{1...|
|           CYXU|  -81.1511|43.033051|   London|[{{{{NEW455}}, {{...|
|           EGGW|  -0.36833|51.874722|   London|[{{{{U22622}}, {{...|
+---------------+----------+---------+---------+--------------------+
only showing top 20 rows

root
 |-- airport_acronym: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- city: string (nullable = true)
 |-- arrivals: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- flight: struct (nullable = true)
 |    |    |    |-- identification: struct (nullable = true)
 |    |    |    |    |-- number: struct (nullable = true)
 |    |    |    |    |    |-- default: string (nullable = true)
 |    |    |    |-- time: struct (nullable = true)
 |    |    |    |    |-- estimated: struct (nullable = true)
 |    |    |    |    |    |-- arrival: string (nullable = true)
 |    |    |    |    |    |-- departure: string (nullable = true)
 |    |    |    |    |-- real: struct (nullable = true)
 |    |    |    |    |    |-- arrival: string (nullable = true)
 |    |    |    |    |    |-- departure: string (nullable = true)
 |    |    |    |    |-- scheduled: struct (nullable = true)
 |    |    |    |    |    |-- arrival: string (nullable = true)
 |    |    |    |    |    |-- departure: string (nullable = true)
 |    |    |    |-- owner: struct (nullable = true)
 |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |-- logo: string (nullable = true)
 |    |    |    |-- airport: struct (nullable = true)
 |    |    |    |    |-- destination: struct (nullable = true)
 |    |    |    |    |    |-- info: struct (nullable = true)
 |    |    |    |    |    |    |-- gate: string (nullable = true)
 |    |    |    |    |    |    |-- terminal: string (nullable = true)
 |    |    |    |    |    |    |-- baggage: string (nullable = true)
 |    |    |    |    |-- real: string (nullable = true)
 |    |    |    |    |-- origin: struct (nullable = true)
 |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |    |-- code: struct (nullable = true)
 |    |    |    |    |    |    |-- iata: string (nullable = true)
 |    |    |    |    |    |-- position: struct (nullable = true)
 |    |    |    |    |    |    |-- region: struct (nullable = true)
 |    |    |    |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |    |-- info: struct (nullable = true)
 |    |    |    |    |    |    |-- gate: string (nullable = true)
 |    |    |    |    |    |    |-- terminal: string (nullable = true)
 |    |    |    |-- status: struct (nullable = true)
 |    |    |    |    |-- live: string (nullable = true)

In [13]:
df_ex = df.withColumn("arrival", F.explode("arrivals")).drop("arrivals")

In [14]:
df_formatted = df_ex \
    .withColumn("flight_number_default", F.col("arrival.flight.identification.number.default")) \
    .withColumn("estimated_arrival_time", F.col("arrival.flight.time.estimated.arrival")) \
    .withColumn("estimated_departure_time", F.col("arrival.flight.time.estimated.departure")) \
    .withColumn("real_arrival_time", F.col("arrival.flight.time.real.arrival")) \
    .withColumn("real_departure_time", F.col("arrival.flight.time.real.departure")) \
    .withColumn("scheduled_arrival_time", F.col("arrival.flight.time.scheduled.arrival")) \
    .withColumn("scheduled_departure_time", F.col("arrival.flight.time.scheduled.departure")) \
    .withColumn("owner_name", F.col("arrival.flight.owner.name")) \
    .withColumn("owner_logo", F.col("arrival.flight.owner.logo")) \
    .withColumn("destination_gate", F.col("arrival.flight.airport.destination.info.gate")) \
    .withColumn("destination_terminal", F.col("arrival.flight.airport.destination.info.terminal")) \
    .withColumn("destination_baggage", F.col("arrival.flight.airport.destination.info.baggage")) \
    .withColumn("origin_airport", F.col("arrival.flight.airport.origin.code.iata")) \
    .withColumn("origin_city", F.col("arrival.flight.airport.origin.position.region.city")) \
    .withColumn("origin_latitude", F.col("arrival.flight.airport.origin.position.latitude")) \
    .withColumn("origin_longitude", F.col("arrival.flight.airport.origin.position.longitude")) \
    .withColumn("origin_gate", F.col("arrival.flight.airport.origin.info.gate")) \
    .withColumn("origin_terminal", F.col("arrival.flight.airport.origin.info.terminal")) \
    .withColumn("flight_status_live", F.col("arrival.flight.status.live")).drop('arrival')

In [15]:
df_formatted.show()

+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
|airport_acronym|longitude| latitude|     city|flight_number_default|estimated_arrival_time|estimated_departure_time|real_arrival_time|real_departure_time|scheduled_arrival_time|scheduled_departure_time|          owner_name|          owner_logo|destination_gate|destination_terminal|destination_baggage|origin_airport|origin_city|origin_latitude|origin_longitude|origin_gate|origin_terminal|flight_status_live|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
|           EHAM| 4.763889|52.308609|Amsterdam|                OS373|                  NULL|                    NULL|       1711034744|         1711029233|            1711035900|              1711029000|   Austrian Airlines|https://images.fl...|            NULL|                   1|               NULL|           VIE|     Vienna|      48.110271|       16.569719|        F26|              3|             false|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1920|            1711036170|                    NULL|             NULL|         1711031577|            1711035900|              1711028700|      KLM Cityhopper|https://images.fl...|             A04|                   2|                010|           GDN|     Gdansk|      54.376484|        18.47064|         16|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               LH2306|            1711038464|                    NULL|             NULL|         1711035404|            1711036200|              1711030500|  Lufthansa CityLine|                NULL|            NULL|                   1|               NULL|           MUC|     Munich|      48.353779|        11.78608|        G11|              2|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               SK1549|            1711037440|                    NULL|             NULL|         1711033861|            1711036200|              1711031100|            SAS Link|https://images.fl...|            NULL|                   1|               NULL|           CPH| Copenhagen|      55.616959|       12.645637|        B15|              3|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                 NULL|                  NULL|              1711035600|             NULL|               NULL|            1711036320|              1711035000|                NULL|                NULL|            NULL|                NULL|               NULL|           GLZ|      Breda|      51.567402|         4.93183|       NULL|           NULL|             false|
|           EHAM| 4.763889|52.308609|Amsterdam|               HV5582|            1711036680|                    NULL|             NULL|         1711030530|            1711036500|              1711029000|           Transavia|                NULL|            NULL|                   1|               NULL|           NCE|       Nice|      43.661453|         7.21736|          G|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               TK1953|            1711035810|                    NULL|             NULL|         1711024812|            1711036500|              1711023300|    Turkish Airlines|https://images.fl...|            NULL|                   3|               NULL|           IST|   Istanbul|      41.267052|       28.729757|        A1H|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                TP672|            1711037060|                    NULL|             NULL|         1711027289|            1711036800|              1711026000|    TAP Air Portugal|https://images.fl...|            NULL|                   1|               NULL|           LIS|     Lisbon|      38.781311|        -9.13591|       NULL|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                AZ110|            1711036280|                    NULL|             NULL|         1711029076|            1711037700|              1711028400|         ITA Airways|https://images.fl...|            NULL|                   1|               NULL|           FCO|       Rome|       41.80447|        12.25079|       NULL|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               KL1944|            1711038080|                    NULL|             NULL|         1711031954|            1711037700|              1711029900|      KLM Cityhopper|https://images.fl...|             A04|                   2|                009|           ZAG|     Zagreb|      45.742931|       16.068769|        G12|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                MU771|            1711036410|                    NULL|             NULL|         1710995703|            1711037700|              1710993900|China Eastern Air...|https://images.fl...|              E9|                   3|                 16|           PVG|   Shanghai|       31.14337|      121.805199|          K|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               U28683|            1711035910|                    NULL|             NULL|         1711033470|            1711037700|              1711032900|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LGW|     London|      51.148048|        -0.19027|        107|              N|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KE925|            1711038080|                    NULL|             NULL|         1710988510|            1711037700|              1710987000|          Korean Air|https://images.fl...|            NULL|                   3|               NULL|           ICN|      Seoul|       37.46907|        126.4505|        255|              2|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL898|            1711039104|                    NULL|             NULL|         1710994793|            1711038000|              1710993000|                 KLM|https://images.fl...|              F7|                   2|                 12|           PEK|    Beijing|      40.084152|      116.592735|          8|              2|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               U22519|            1711037056|                    NULL|             NULL|         1711034307|            1711038000|              1711033800|             easyJet|https://images.fl...|            NULL|                NULL|               NULL|           LTN|     London|      51.874722|        -0.36833|         14|           NULL|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               U27842|            1711037184|                    NULL|             NULL|         1711035368|            1711038600|              1711034400|      easyJet Europe|https://images.fl...|            NULL|                NULL|               NULL|           STN|     London|      51.884998|           0.235|       NULL|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL862|            1711037570|                    NULL|             NULL|         1710989262|            1711038600|              1710988200|                 KLM|https://images.fl...|              F4|                   3|                 15|           NRT|      Tokyo|      35.764721|      140.386307|         17|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|                KL868|            1711037120|                    NULL|             NULL|         1710987855|            1711038600|              1710986700|                 KLM|https://images.fl...|             E17|                   2|                  8|           KIX|      Osaka|      34.427299|      135.244003|         21|              1|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               UX1093|            1711039616|                    NULL|             NULL|         1711031860|            1711038900|              1711029600|          Air Europa|https://images.fl...|            NULL|                   1|               NULL|           MAD|     Madrid|      40.488701|           -3.57|        E72|              3|              true|
|           EHAM| 4.763889|52.308609|Amsterdam|               BA8455|            1711037568|                    NULL|             NULL|         1711035092|            1711038900|              1711035000|        BA CityFlyer|                NULL|            NULL|                   1|                 02|           LCY|     London|      51.505268|        0.055278|       NULL|           NULL|              true|
+---------------+---------+---------+---------+---------------------+----------------------+------------------------+-----------------+-------------------+----------------------+------------------------+--------------------+--------------------+----------------+--------------------+-------------------+--------------+-----------+---------------+----------------+-----------+---------------+------------------+
only showing top 20 rows

In [16]:
# Save the DataFrame as a Parquet file
df_formatted.write.parquet("flights_data.parquet")

# Stop the Spark session
spark.stop()